.ant-form-item.ant-form-item-view-mode {
  margin-bottom: 20px;
}

.ant-form-item-view-mode .ant-form-item-label {
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
}

.ant-form-item-view-mode .ant-form-item-control {
  line-height: 1.5;
}

.antd-form-builder-string-content {
  line-height: 130%;
}